.App {
  text-align: center;
  background: black;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
}
.color-picker {
    position: absolute;
    bottom: 40px;
}
.color-input {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 30px;
    outline: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
